div.main-content {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

html {
    text-align: center; /* works with body margin to center body */
    margin: 10px 10px;
    background: rgb(230, 230, 230);
}

body {
    margin: auto;
    background: white;
    border: 3px solid #7c5621;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 12pt;
    max-width: 10in;
    min-width: 5.5in;
    position: relative;
    padding: 0 15px;
}

h1 {
    text-align: center;
    font-size: 22pt;
}

h2 {
    text-align: center;
    font-size: 18pt;
}

h3 {
    font-size: 14pt;
}

h3, h4 { 
    margin-top: 0.5em;
    margin-bottom: 0.2em; 
}

table > tbody > th > td {
    padding: 7px;
}

table > tbody > tr > td {
    border: 1px solid black;
    padding: 5px;
    height: 40pt;
}

table > tbody > tr > td:first-child {
    font-size: 14pt;
    background-color: lightgray;
    text-align: right;
    padding-right: 0.5em;
}

table {
    border-collapse: collapse;
}

section strong {
    text-transform: uppercase;
    margin-right: 1.0em;
}

p {
    text-align: justify;
    line-height: 1.3em;
}

dl {
    overflow: auto;
    clear: both;
    margin-bottom: 2em;
}

dt {
    display: inline-block;
    width: 7em;
    font-weight: bold;
    float: left;
    clear: both;
}

dt::after {
    content: ":";
}

dd {
    float: left;
}

section {
    clear: both;
}

dl > dd > em {
    width: 15em;
    font-style: normal;
    display: inline-block;
}

li {
    margin-top: 0.5em;
}

@media (min-width:768px){.header__logo{left:initial;top:7px;width:280px;height:90px;}
}
@media (min-width:992px){.header__logo{position:relative;width:191px;top:11px;height:95px;left:0;background-size:293px 95px;}
}
@media (min-width:1200px){.header__logo{top:14px;height:121px;width:250px;background-size:374px 121px;}
}

.topgraphic {
    transform: scale(1.5) translate(22%, 18%);
    background-repeat: no-repeat;
    display: block;
    height: 150px;
    width: 235px;
    margin: 0;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    transition: all .25s ease;
}
