div.main-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

body {
    margin: 2 2 2 2;
    border: 3px solid #7c5621;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 12pt;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 14pt;
}


table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

table {
    border-collapse: collapse;
}

section, dl {
    max-width: 900px;
}

section strong {
    text-transform: uppercase;
    margin-right: 1.0em;
}

p {
    text-align: justify;
}

dl {
    overflow: auto;
    clear: both;
    margin-bottom: 2em;
}

dt {
    display: inline-block;
    width: 7em;
    font-weight: bold;
    float: left;
    clear: both;
}

dt::after {
    content: ":";
}

dd {
    float: left;
    max-width: 700px;
}

section {
    clear: both;
}

dl > dd > em {
    width: 15em;
    font-style: normal;
    display: inline-block;
}
